{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur le site de gestion de corporation Star Citizen !</h1>

        <p>Notre plateforme a été conçue pour offrir aux dirigeants de corporations Star Citizen un outil de gestion
            complet et intuitif pour gérer efficacement leur flotte et leur équipe de membres. Avec notre site de
            management, vous pouvez facilement gérer les membres de votre corporation, suivre leur progression,
            coordonner
            leurs activités et gérer leur flotte.</p>

        <p>Nous offrons également des fonctionnalités d'organisation d'événements pour votre corporation. Que ce soit
            pour
            une sortie d'exploration, une mission de récupération ou simplement pour une soirée entre membres, notre
            site de
            gestion vous permettra de planifier facilement les événements de votre corporation, d'inviter les membres et
            de
            suivre les inscriptions.</p>

        <p>Enfin, notre site est également un hub pour des informations diverses liées à Star Citizen. Vous y trouverez
            des
            nouvelles et des mises à jour sur le jeu, des guides de stratégie pour vous aider à mieux gérer votre
            corporation, ainsi que des forums pour discuter avec d'autres joueurs et partager vos expériences.</p>

        <p>Nous sommes ravis de vous offrir cette plateforme de gestion pour votre corporation Star Citizen.
            Inscrivez-vous
            dès maintenant pour commencer à profiter de toutes nos fonctionnalités et pour mener votre corporation vers
            de
            nouveaux horizons.</p>
    </div>
{% endblock %}
